
.root {
    -fx-background-color: linear-gradient(to bottom right, #2b2b2b, #5a5a5a);
    -fx-font-family: 'Poppins', sans-serif;
}

.glass-panel {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-width: 1;
    -fx-padding: 30;
    -fx-pref-width: 800;
    -fx-pref-height: 500;
}


.label-title, .titulo {
    -fx-text-fill: #e65c00;
    -fx-font-size: 38px;
    -fx-font-weight: 800;
    -fx-letter-spacing: 1px;
    -fx-padding: 10 0 20 0;
    -fx-opacity: 0.95;
}

.text-field, .password-field, .text-area {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-border-color: #ff6600;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, #ff6600, 10, 0.2, 0, 0);
}

.button {
    -fx-background-color: linear-gradient(to right, #ff6600, #ff3300);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, #ff6600, 20, 0.4, 0, 0);
    -fx-cursor: hand;
    -fx-padding: 10 25;
    -fx-margin: 20 0 20 0;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: linear-gradient(to right, #ff3300, #ff6600);
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.table-view .column-header-background {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.table-view .column-header .label {
    -fx-text-fill: #ff6600;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-text-fill: #e6e6e6;
    -fx-font-size: 14px;
}

.table-row-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #ff6600, #ff3300);
    -fx-text-fill: black;
}

.table-cell {
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #e6e6e6;
}
